html {
    height: 100%;
}

body {
    height: 100%;
    background-image: url("https://salvagedstars.files.wordpress.com/2011/03/dont.jpg");
    background-size: 1500px;
}
a {
    text-decoration: underline overline wavy blue;
    font-family: 'Architects Daughter', cursive;
    font-size: 45px;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.header {
    padding: 10px 0px 5px 5px;
    text-align: left;
    font-size: 65px;
    font-family: 'Monoton', cursive;
    color: #3336FF
}
iframe{
    padding: 0px 5px 0px 10px;
}
img {
    width: 350px;
}