html {
    height: 100%;
}

body {
    height: 100%;
    background-image: url("https://media.giphy.com/media/l3q2GiabM3YDOHhug/giphy.gif");
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
